*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}

.tailleimage {
    width: 550px;
    height: auto;
    background-size: cover;
    /* height: 100vh; */
    /* padding: 25px;
    white-space-collapse: 50px;
    size-adjust: 100px;
    size: 100px; */
    align-items: center;
    /* width: auto;
    height: auto; */
}


header.header {
    background-color: black;
    display: flex;
}

nav.nav li {
    /* size: 100px; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 380px;
}

.nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: auto;
    justify-content: auto;
}
